In [60]:
import pandas as pd

In [61]:
df_calendar = pd.read_csv("calendar.csv")
df_calendar

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,96033,2024-06-30,f,$59.00,NaN,3.0,1125.0
1,96033,2024-07-01,t,$59.00,NaN,3.0,1125.0
2,96033,2024-07-02,t,$59.00,NaN,3.0,1125.0
3,96033,2024-07-03,f,$59.00,NaN,3.0,1125.0
4,96033,2024-07-04,f,$59.00,NaN,3.0,1125.0
...,...,...,...,...,...,...,...
3276211,1189767462442874766,2025-06-25,f,$37.00,NaN,1.0,365.0
3276212,1189767462442874766,2025-06-26,f,$37.00,NaN,1.0,365.0
3276213,1189767462442874766,2025-06-27,f,$37.00,NaN,1.0,365.0
3276214,1189767462442874766,2025-06-28,f,$37.00,NaN,1.0,365.0
3276215,1189767462442874766,2025-06-29,f,$37.00,NaN,1.0,365.0

In [62]:
# Eliminando símbolos de dólar y comas, y convirtiendo la columna 'price' a numérico
df_calendar['price_numeric'] = df_calendar['price'].replace({'\$': '', ',': ''}, regex=True).astype(float)

# Calculando la media de precio para cada listing_id
calendar_listing_price_mean_df = df.groupby('listing_id')['price_numeric'].mean().reset_index(name='base_price')
calendar_listing_price_mean_df

<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
/var/folders/ft/qxd3zsb519bf70l9x9qmkywm0000gn/T/ipykernel_54965/457939243.py:2: SyntaxWarning: invalid escape sequence '\$'
  df_calendar['price_numeric'] = df_calendar['price'].replace({'\$': '', ',': ''}, regex=True).astype(float)

               listing_id  base_price
0                   96033        59.0
1                  166473        19.0
2                  330760       100.0
3                  340024        55.0
4                  358541        95.0
...                   ...         ...
8971  1189592892539544511       225.0
8972  1189622809740906599        40.0
8973  1189671944758775995       150.0
8974  1189685071215423739        37.0
8975  1189767462442874766        37.0

[8976 rows x 2 columns]

In [63]:
# Identificando listing_id con más de un valor único en la columna 'price'
listings_with_multiple_prices = df.groupby('listing_id')['price'].nunique()
listings_with_multiple_prices = listings_with_multiple_prices[listings_with_multiple_prices > 1]

# Mostrando los listing_id que cumplen la condición
listings_with_multiple_prices

Series([], Name: price, dtype: int64)

In [64]:
df_listing = pd.read_csv("listings.csv")
df_listing

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,638401413782978130,https://www.airbnb.com/rooms/638401413782978130,20240630141205,2024-07-01,city scrape,Capitán - Apartamento en el centro de Málaga,Magnificent apartment in the heart of Malaga w...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,382146507,...,4.95,4.98,4.85,VFT/MA/52526,t,63,63,0,0,3.99
1,593807685540946920,https://www.airbnb.com/rooms/593807685540946920,20240630141205,2024-07-01,city scrape,"Balcón Victoria, 4 bedrooms with balcony in th...","Balcón Victoria, 4 rooms in Historic Center. I...",NaN,https://a0.muscache.com/pictures/prohost-api/H...,11733642,...,4.92,4.83,4.67,VFT/MA/45175,t,20,20,0,0,0.46
2,689209787389564671,https://www.airbnb.com/rooms/689209787389564671,20240630141205,2024-07-01,city scrape,"Lovely spacious 2 bedroom, 2 bathroom with ter...","Set in the perfect location, this stylish, com...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,13967638,...,4.64,4.73,4.55,CTC-2017080773,f,2,1,1,0,0.60
3,1169368107504912867,https://www.airbnb.com/rooms/1169368107504912867,20240630141205,2024-07-01,city scrape,Cathedral Penthouse with Terrace,Enjoy the cathedral from the terrace or living...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,4884962,...,NaN,NaN,NaN,VUT/MA/63833,t,17,17,0,0,NaN
4,53218911,https://www.airbnb.com/rooms/53218911,20240630141205,2024-06-30,city scrape,excelente estudio cerca del Carrefour,NaN,NaN,https://a0.muscache.com/pictures/d60ac57b-d9fb...,413971511,...,4.65,3.24,3.12,Exempt,t,4,4,0,0,0.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8971,835976859934550613,https://www.airbnb.com/rooms/835976859934550613,20240630141205,2024-06-30,city scrape,Helles Zimmer in einem Stadthaus in Malaga,Enjoy the simple living in this quiet and cent...,The house is located in a quiet residential ar...,https://a0.muscache.com/pictures/miso/Hosting-...,9960184,...,4.56,4.78,4.56,CTC-2018184339,f,6,0,6,0,0.63
8972,49747007,https://www.airbnb.com/rooms/49747007,20240630141205,2024-06-30,city scrape,FILPOS 2,"A beautiful apartment very close to the beach,...",One of the most popular neighbourhoods of the ...,https://a0.muscache.com/pictures/6f237ebe-2a93...,22481967,...,4.72,4.66,4.54,Exempt,f,1,1,0,0,1.77
8973,774557366205990523,https://www.airbnb.com/rooms/774557366205990523,20240630141205,2024-06-30,city scrape,Patrocinio City Center Apartment,Brand new downtown apartment. <br /><br />It i...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,21521353,...,4.93,4.67,4.83,VFT/MA/58463,t,41,41,0,0,2.34
8974,901899213240359171,https://www.airbnb.com/rooms/901899213240359171,20240630141205,2024-06-30,city scrape,Casa Blanca Stef Yunquera,NaN,Yunquera is a traditional Spanish Village a fr...,https://a0.muscache.com/pictures/prohost-api/H...,2634139,...,NaN,NaN,NaN,CTC-2018039206,f,1,1,0,0,NaN
8975,1044163931591337291,https://www.airbnb.com/rooms/1044163931591337291,20240630141205,2024-06-30,city scrape,Habitación Mar 2.,Break with your day to day in this room locate...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,24525026,...,4.69,4.59,4.59,CTC-2017105282,f,39,6,33,0,4.97

In [65]:
df_select_columns = ["id", "host_id", "host_name", "host_since", "host_location", "host_response_time", "host_response_rate", "host_is_superhost", "host_listings_count", "longitude", "latitude", "room_type", "accommodates",
"number_of_reviews", "number_of_reviews_ltm", "number_of_reviews_l30d", "review_scores_rating", "instant_bookable", "reviews_per_month"]
df_listing_clean = df_listing[df_select_columns]
df_listing_clean

,id,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_is_superhost,host_listings_count,longitude,latitude,room_type,accommodates,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,instant_bookable,reviews_per_month
0,638401413782978130,382146507,Lovely,2020-12-29,"Málaga, Spain",within an hour,100%,f,72,-4.420914,36.722069,Entire home/apt,4,100,58,4,4.97,t,3.99
1,593807685540946920,11733642,Airgestión,2014-01-28,Spain,within an hour,100%,f,21,-4.413260,36.727180,Entire home/apt,7,12,4,1,5.00,t,0.46
2,689209787389564671,13967638,Susanna,2014-04-06,"Málaga, Spain",within a few hours,100%,f,2,-4.412884,36.727710,Entire home/apt,4,11,6,0,4.73,f,0.60
3,1169368107504912867,4884962,"Esther, Francisco & Sara",2013-01-28,"Andalusia, Spain",within an hour,100%,f,23,-4.420821,36.719241,Entire home/apt,10,0,0,0,NaN,t,NaN
4,53218911,413971511,Montana,2021-07-19,"Andalusia, Spain",within an hour,95%,f,22,-4.434390,36.737370,Entire home/apt,2,17,4,0,3.47,t,0.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8971,835976859934550613,9960184,Alexander,2013-11-12,"Andalusia, Spain",within a few hours,100%,t,6,-4.421170,36.732120,Private room,1,9,6,0,4.56,f,0.63
8972,49747007,22481967,Joaquin,2014-10-13,"Andalusia, Spain",within an hour,100%,f,1,-4.375300,36.720810,Entire home/apt,2,65,17,0,4.65,f,1.77
8973,774557366205990523,21521353,Leandro,2014-09-19,"Málaga, Spain",within an hour,100%,f,56,-4.418226,36.732443,Entire home/apt,4,42,33,2,4.93,t,2.34
8974,901899213240359171,2634139,Stefan,2012-06-14,NaN,within a day,100%,f,1,-4.517120,36.657970,Entire home/apt,6,0,0,0,NaN,f,NaN
8975,1044163931591337291,24525026,Carolina,2014-12-05,"Málaga, Spain",within a few hours,99%,f,39,-4.430859,36.707949,Private room,2,32,32,4,4.63,f,4.97

In [66]:
# Cambiar nombre id a listing id en la df listing
df_listing_clean = df_listing_clean.rename(columns={'id': 'listing_id'})
df_listing_clean

,listing_id,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_is_superhost,host_listings_count,longitude,latitude,room_type,accommodates,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,instant_bookable,reviews_per_month
0,638401413782978130,382146507,Lovely,2020-12-29,"Málaga, Spain",within an hour,100%,f,72,-4.420914,36.722069,Entire home/apt,4,100,58,4,4.97,t,3.99
1,593807685540946920,11733642,Airgestión,2014-01-28,Spain,within an hour,100%,f,21,-4.413260,36.727180,Entire home/apt,7,12,4,1,5.00,t,0.46
2,689209787389564671,13967638,Susanna,2014-04-06,"Málaga, Spain",within a few hours,100%,f,2,-4.412884,36.727710,Entire home/apt,4,11,6,0,4.73,f,0.60
3,1169368107504912867,4884962,"Esther, Francisco & Sara",2013-01-28,"Andalusia, Spain",within an hour,100%,f,23,-4.420821,36.719241,Entire home/apt,10,0,0,0,NaN,t,NaN
4,53218911,413971511,Montana,2021-07-19,"Andalusia, Spain",within an hour,95%,f,22,-4.434390,36.737370,Entire home/apt,2,17,4,0,3.47,t,0.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8971,835976859934550613,9960184,Alexander,2013-11-12,"Andalusia, Spain",within a few hours,100%,t,6,-4.421170,36.732120,Private room,1,9,6,0,4.56,f,0.63
8972,49747007,22481967,Joaquin,2014-10-13,"Andalusia, Spain",within an hour,100%,f,1,-4.375300,36.720810,Entire home/apt,2,65,17,0,4.65,f,1.77
8973,774557366205990523,21521353,Leandro,2014-09-19,"Málaga, Spain",within an hour,100%,f,56,-4.418226,36.732443,Entire home/apt,4,42,33,2,4.93,t,2.34
8974,901899213240359171,2634139,Stefan,2012-06-14,NaN,within a day,100%,f,1,-4.517120,36.657970,Entire home/apt,6,0,0,0,NaN,f,NaN
8975,1044163931591337291,24525026,Carolina,2014-12-05,"Málaga, Spain",within a few hours,99%,f,39,-4.430859,36.707949,Private room,2,32,32,4,4.63,f,4.97

In [67]:
# Renombrar el nombre del índice
df_listing_clean = df_listing_clean.rename_axis('id', axis='index')
df_listing_clean

,listing_id,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_is_superhost,host_listings_count,longitude,latitude,room_type,accommodates,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,instant_bookable,reviews_per_month
id,,,,,,,,,,,,,,,,,,,
0,638401413782978130,382146507,Lovely,2020-12-29,"Málaga, Spain",within an hour,100%,f,72,-4.420914,36.722069,Entire home/apt,4,100,58,4,4.97,t,3.99
1,593807685540946920,11733642,Airgestión,2014-01-28,Spain,within an hour,100%,f,21,-4.413260,36.727180,Entire home/apt,7,12,4,1,5.00,t,0.46
2,689209787389564671,13967638,Susanna,2014-04-06,"Málaga, Spain",within a few hours,100%,f,2,-4.412884,36.727710,Entire home/apt,4,11,6,0,4.73,f,0.60
3,1169368107504912867,4884962,"Esther, Francisco & Sara",2013-01-28,"Andalusia, Spain",within an hour,100%,f,23,-4.420821,36.719241,Entire home/apt,10,0,0,0,NaN,t,NaN
4,53218911,413971511,Montana,2021-07-19,"Andalusia, Spain",within an hour,95%,f,22,-4.434390,36.737370,Entire home/apt,2,17,4,0,3.47,t,0.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8971,835976859934550613,9960184,Alexander,2013-11-12,"Andalusia, Spain",within a few hours,100%,t,6,-4.421170,36.732120,Private room,1,9,6,0,4.56,f,0.63
8972,49747007,22481967,Joaquin,2014-10-13,"Andalusia, Spain",within an hour,100%,f,1,-4.375300,36.720810,Entire home/apt,2,65,17,0,4.65,f,1.77
8973,774557366205990523,21521353,Leandro,2014-09-19,"Málaga, Spain",within an hour,100%,f,56,-4.418226,36.732443,Entire home/apt,4,42,33,2,4.93,t,2.34
8974,901899213240359171,2634139,Stefan,2012-06-14,NaN,within a day,100%,f,1,-4.517120,36.657970,Entire home/apt,6,0,0,0,NaN,f,NaN
8975,1044163931591337291,24525026,Carolina,2014-12-05,"Málaga, Spain",within a few hours,99%,f,39,-4.430859,36.707949,Private room,2,32,32,4,4.63,f,4.97

In [69]:
df_listing_clean_price = df_listing_clean.merge(calendar_listing_price_mean_df[['listing_id', 'base_price']], on='listing_id', how='left')
df_listing_clean_price

,listing_id,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_is_superhost,host_listings_count,longitude,latitude,room_type,accommodates,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,instant_bookable,reviews_per_month,base_price
0,638401413782978130,382146507,Lovely,2020-12-29,"Málaga, Spain",within an hour,100%,f,72,-4.420914,36.722069,Entire home/apt,4,100,58,4,4.97,t,3.99,160.0
1,593807685540946920,11733642,Airgestión,2014-01-28,Spain,within an hour,100%,f,21,-4.413260,36.727180,Entire home/apt,7,12,4,1,5.00,t,0.46,180.0
2,689209787389564671,13967638,Susanna,2014-04-06,"Málaga, Spain",within a few hours,100%,f,2,-4.412884,36.727710,Entire home/apt,4,11,6,0,4.73,f,0.60,85.0
3,1169368107504912867,4884962,"Esther, Francisco & Sara",2013-01-28,"Andalusia, Spain",within an hour,100%,f,23,-4.420821,36.719241,Entire home/apt,10,0,0,0,NaN,t,NaN,191.0
4,53218911,413971511,Montana,2021-07-19,"Andalusia, Spain",within an hour,95%,f,22,-4.434390,36.737370,Entire home/apt,2,17,4,0,3.47,t,0.53,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8971,835976859934550613,9960184,Alexander,2013-11-12,"Andalusia, Spain",within a few hours,100%,t,6,-4.421170,36.732120,Private room,1,9,6,0,4.56,f,0.63,36.0
8972,49747007,22481967,Joaquin,2014-10-13,"Andalusia, Spain",within an hour,100%,f,1,-4.375300,36.720810,Entire home/apt,2,65,17,0,4.65,f,1.77,51.0
8973,774557366205990523,21521353,Leandro,2014-09-19,"Málaga, Spain",within an hour,100%,f,56,-4.418226,36.732443,Entire home/apt,4,42,33,2,4.93,t,2.34,250.0
8974,901899213240359171,2634139,Stefan,2012-06-14,NaN,within a day,100%,f,1,-4.517120,36.657970,Entire home/apt,6,0,0,0,NaN,f,NaN,282.0
8975,1044163931591337291,24525026,Carolina,2014-12-05,"Málaga, Spain",within a few hours,99%,f,39,-4.430859,36.707949,Private room,2,32,32,4,4.63,f,4.97,23.0

In [71]:
df_listing_clean_price.to_csv("df_listing_clean_price.csv")